services:
  frontend:
    image: node:20-alpine
    working_dir: /app
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    environment:
      - VITE_FIREBASE_API_KEY=AIzaSyA7GSSq5zTRy6HL14ja8Y7d2mVhqJGHGuc
      - VITE_FIREBASE_AUTH_DOMAIN=michigan-devfest.firebaseapp.com
      - VITE_FIREBASE_PROJECT_ID=michigan-devfest
    command: sh -c "npm install && npm run dev -- --host"

  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
    command: python manage.py runserver 0.0.0.0:8000